body {
  background-image: url(./assets/stock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.search_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.search {
  width: 300px;
}